#welcome{
    text-align: center;
    padding: 20px;
}
#leftCol{
    text-align: center;
}
#wholePage{
    height: 100%;
    background-image: url("./pencils.jpg");
}
#listHead{
    background-color: lightgray;
    color: black;
    font-size: larger;
    font-weight: 500;
}
.liGroupItem{
    font-size: larger;
    font-weight:500;
    color: white;
}
#row2{
    width: 100%;
}