#welcome{
    text-align: center;
    padding: 20px;
}
#leftCol{
    text-align: center;
}
#wholePage{
    height: 100%;
}
#listHead{
    background-color: lightgray;
    color: black;
    font-size: larger;
    font-weight: 500;
}
#liGroupItem1, #liGroupItem2{
    background-color: rgb(228, 111, 3);
    font-size: larger;
    font-weight:500;
    color: black;
}
#liGroupItem1:hover, #liGroupItem2:hover{
    background-color: rgb(228, 111, 3, .75);
}
#row2{
    width: 100%;
}